<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>University Registrar</title>
    </head>
    <body>
        <div class='container'>
            <div class='jumbotron'>
                <h1>University Registrar<h1>
            </div><br>

            <h4>Edit record for {{ student.getName }} | First enrolled: {{ student.getEnrollmentDate }} | ID: {{ student.getId }}</h4><br>

            <form action='/students/{{ student.getId }}/submit_edit' method='post'>
                <div class='form-group'>
                    <input name='_method' value='patch' hidden>
                    <input type='text' name='name' class='form-control' value='{{ student.getName }}'>
                </div>

                <div class='form-group'>
                    <input name='_method' value='patch' hidden>
                    <input type='text' name='enrollment_date' class='form-control' value='{{ student.getEnrollmentDate }}'>
                </div>

                <button type='submit' class='btn btn-primary'>Submit</button>
            </form><br><br>

            <h4><a href='/students'>Back to student records</a></h4>

            <h4><a href='/'>Home</a></h4><br><br><br><br>

            <footer>Created by <a href="https://github.com/maggie-harrington">Maggie Harrington</a></footer>

        </div>
    </body>
</html>
